.hero
    padding: 55px 0
    background-color: $secondary
    &-block
        display: flex
    &-text
        flex-basis: 60%
        &__title
            font-size: 41px
            line-height: 55px
            margin-bottom: 39px
            margin-left: -2px
            +bold
        &__subtitle
            display: inline-block
            font-size: 20px
            +bold
            margin-bottom: 52px
    &-list
        &__item
            display: flex
            align-items: center
            margin-bottom: 26px
            margin-left: -39px
            &:list-child
                margin-bottom: 0
        &__image
            width: 36px
            height: 36px
            border: 2px solid $main-color
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            margin-right: 30px
        &__text
            max-width: 250px
            font-size: 14px
            line-height: 25px
    &-image
        max-width: 620px
        width: 100%
        margin-right: -40px
.three
    margin-top: -3.5 px

@media ( max-width: 1200px )
    .hero
        &-block
            flex-direction: column
        &-list
            margin-bottom: 44px
        &-text
            padding-right: 10px
@media ( max-width: 768px )
    .hero
        &-text
            &__title
                font-size: 24px
                line-height: 1.4
                margin-bottom: 15px
            &__subtitle
                font-size: 16px
                margin-bottom: 28px
        &-list
            &__item
                margin-bottom: 20px
            &__text
                font-size: 12px
            &__image
                margin-right: 15px
@media ( max-width: 567px )
    #two
        width: 45px
    #three
        width: 45px
    .hero
        &-text
            &__title
                margin-top: -2px
                margin-left: 2px
                margin-bottom: 9px
                font-size: 24px
                line-height: 28px
                letter-spacing: -0.01em
            &__subtitle
                margin-left: 4px
                margin-bottom: 14px
        &-image
           margin-top: -6px
@media ( max-width: 320px )
    #two
        width: 75px
    #three
        width: 75px










            








